# Project exclude paths
/.gradle/
/build/
/.idea/
/bots
/config/
/libs/
/test/
/out/
/run/
/scripts/
/plugins/
/data/Minori/setus/
/data/Minori/MessageCache.yml
/data/Minori/minori.sqlite

**/Constants.kt
